@page
@model PersonalDataModel
@{
    ViewData["Title"] = sharedResource["PersonalData"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="profile">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p class="profile">@sharedResource["ContainsAccount"]</p>
        <p class="profile">
            <strong>@sharedResource["DeleteData"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">@sharedResource["Download"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@sharedResource["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
